@import '@csstools/normalize.css';
@import 'tailwindcss';

@import './theme.css';

body {
  font-family: var(--font-default);
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  margin-block: 0;
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 250ms var(--ease-bezier-out);
}

a:hover {
  color: var(--color-link-hover);
}
